:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}



.card-img-top {
    width: 300px;
    height: 300px;
}

.card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
}

.card-img-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
}
/*Deberia eliminarse esta parte*/

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-item {
    width: 48%; 
    margin-bottom: 20px; 
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.image-item img {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    border-bottom: 2px solid #ccc;
    border-radius: 10px 10px 0 0;
}

.image-details {
    padding: 10px;
}

.image-details h2 {
    font-size: 1.2em;
    margin: 10px 0 5px;
}

.image-details p {
    margin: 5px 0;
}
/* Media Querys*/
@media screen and (max-width: 768px) {
    .image-container {
        flex-direction: column; 
        align-items: center; 
    }

    .image-item {
        width: 100%; 
    }
}




/* Animaciones */
.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-left {
    transform: translateX(-100%);
    animation: slideLeftAnimation 0.5s ease forwards;
}

@keyframes slideLeftAnimation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.rotate {
    transform: rotate(-90deg);
    animation: rotateAnimation 1s ease forwards;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.zoom-in {
    transform: scale(0);
    animation: zoomInAnimation 0.5s ease forwards;
}

@keyframes zoomInAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}